body {
  background-color: #f4f6ff;;
}

hr {
  display: block;
  width: 95%;
  height: 0px;
  border: 1px;
  background-color: #127681;
  border-top: 1px solid #127681;
  margin: 1em 0;
  padding: 0;
}

img {
  height: 225px;
  border-radius: 108px;
  background-color: #127681;
  border-color: #127681;
  border: 3px solid #127681;
}
