body {
  background-color: #f4f6ff;;
}
h1 {
  color: #127681;
}

h3 {
  color: #127681;
}

p {
  color: #10375c;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  color: #10375c;
}

ol {
  color: #10375c;
}

table {
  color: #10375c;
}

hr {
  display: block;
  width: 95%;
  height: 0px;
  border: 1px;
  background-color: #127681;
  border-top: 1px solid #127681;
  margin: 1em 0;
  padding: 0;
}

img {
  height: 220px;
  border-radius: 110px;
  background-color: #f3c623;
  border-color: #f3c623;
  border: 3px solid #f3c623;
}
